In [1]:
print("Problem Solving Session")

Problem Solving Session

In [ ]:
## Question 1: Take three inputs from the user
## Principal Amount
## Rate of interest
## Time
## Write a code to calculate simple interest from the given input
## Hint: S.I. = (PXRXT)/100
## Sample Input--> P=1000 R=5% T=2 yrs
## Output--> 100

In [2]:
principle=float(input())
roi=float(input())
time=float(input())
si=principle*roi*time/100
print(si)

1000
5
2
100.0

Question-2: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).The numbers obtained should be printed in a comma-separated sequence on a single line. Sample Output: 

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [6]:
ls=[]
for i in range(2000,3201):
    if i%5!=0 and i%7==0:
        ls.append(str(i))
#print(ls)
print(",".join(ls))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [9]:
print(",".join([str(i) for i in range(2000,3201) if i%5!=0 and i%7==0]))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

Question-3:Write a program which can compute the factorial of a given numbers.Suppose the following input is supplied to the program: 8 Then, the output should be:40320

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Not allowed to use recursion

In [11]:
num=int(input())
fact=1
for i in range(1,num+1):
    fact=fact*i
print(fact)

8
40320

In [12]:
from functools import reduce

In [ ]:
[1,2,3,4,5,6,7,8]--> 40320

In [14]:
reduce(lambda x,y:x*y,range(1,int(input())+1))

8

40320

In [ ]:
x=1
y=2
return 1*2=2
x=2
y=3
return 2*3=6
x=6
y=4
return 6*4=24
x=24
y=5
return 24*5=120
x=120
y=6
return 120*6=720
x=720
y=7
return 720*7=5040
x=5040
y=8
return 40320

In [ ]:
reduce(function,iterable_object)
range(1,int(input())+1)

In [15]:
ls=[1,2,3,4,5,6]
reduce(lambda x,y:x+y,ls)

21

Question-4:With a given integral number n, write a program to generate a dictionary that contains (i, i x i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.Suppose the following input is supplied to the program: 8

Then, the output should be:

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [16]:
inp=int(input())
d={}
for i in range(1,inp+1):
    d[i]=i*i
print(d)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [18]:
{i:i**2 for i in range(1,int(input())+1)}

8

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Question-5: Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.

Suppose the following input is supplied to the program:

without,hello,bag,world

Then, the output should be:

bag,hello,without,world

In [21]:
inp=input()
L=inp.split(",")
sorted_list=sorted(L)
",".join(sorted_list)

without,hello,bag,world

'bag,hello,without,world'

In [23]:
print(",".join(sorted(input().split(","))))

without,hello,bag,world
bag,hello,without,world

Question-6: Write a program that accepts a sentence and calculate the number of letters and digits.

Suppose the following input is supplied to the program:

hello world! 123

Note: No Special Character to be counted!!!!

Then, the output should be:

LETTERS 10

DIGITS 3

In [24]:
sent=input()
alpha=0
digits=0
for ch in sent:
    if ch.isdigit():
        digits=digits+1
    elif ch.isalpha():
        alpha=alpha+1
print("LETTERS",alpha)
print("DIGITS",digits)

hello world! 123
LETTERS 10
DIGITS 3

Question-7: Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers. >Suppose the following input is supplied to the program:

1,2,3,4,5,6,7,8,9

Then, the output should be:

1,9,25,49,81

In [31]:
inp=input()
ls=inp.split(",")
newls=[str(int(i)**2) for i in ls if int(i)%2!=0]
",".join(newls)

1,2,3,4,5,6,7,8,9

'1,9,25,49,81'

In [32]:
",".join([str(int(i)**2) for i in input().split(",") if int(i)%2!=0])

1,2,3,4,5,6,7,8,9

'1,9,25,49,81'